/.git
/.vs
/Debug
/Release
mod.vcxproj.user
autumns_various_additions.vcxproj.user
*.exp
*.lib
*.pdb
*.dll

CaveStory/fps
CaveStory/mute
CaveStory/Config.dat
CaveStory/Profile.dat
CaveStory/window.rect
CaveStory/mods/autumns_various_additions/autumns_various_additions.dll
CaveStory/mods/autumns_various_additions/autumns_various_additions.exp
CaveStory/mods/autumns_various_additions/autumns_various_additions.ilk
CaveStory/mods/autumns_various_additions/autumns_various_additions.lib
CaveStory/mods/autumns_various_additions/autumns_various_additions.pdb
CaveStory/mods/autumns_various_additions/settings.ini