/.git
/.vs
/Debug
/Release
/ZZ-FinalRelease
mod.vcxproj.user
autumns_various_additions.vcxproj.user
*.exp
*.lib
*.pdb
*.dll

BoostLab/editor.rect
CaveStory/fps
CaveStory/mute
CaveStory/Config.dat
CaveStory/Profile.dat
CaveStory/window.rect
CaveStory/error.log
CaveStory/mods/autumns_various_additions/autumns_various_additions.dll
CaveStory/mods/autumns_various_additions/autumns_various_additions.exp
CaveStory/mods/autumns_various_additions/autumns_various_additions.ilk
CaveStory/mods/autumns_various_additions/autumns_various_additions.lib
CaveStory/mods/autumns_various_additions/autumns_various_additions.pdb
CaveStory/mods/autumns_various_additions/settings.ini
SeaTone/tone.ini
CaveStory/Profile - Copy.dat
CaveStory/Profile.FMOD.dat
!external/fmod/lib/fmod_vc.lib
!external/fmod/lib/fmodstudio_vc.lib
!CaveStory/ava/config
!CaveStory/mods/autpi/autpi.dll
CaveStory/Doukutsu.exe.blbkp
